.carerContactContainer {
    position: relative;
    color: black;
}

// #watch.case{
//     background-color: pink;
// }

.carerMiddle {
    position: absolute;
    justify-self: center;
    margin-left: 48px;
    margin-top: 54px;
    width: 155px;
    font-size: 14px;
}

.carerTop-btn {
    position: absolute;
    margin-left: 94px;
    margin-top: -11px;
    font-size: 10px;
}

.carerRight-btn {
    position: absolute;
    transform: rotate(-270deg);
    text-align: center;
    margin-top: 100px;
    margin-left: 220px;
    font-size: 10px;
}

.carerLeft-btn {
    position: absolute;
    transform: rotate(-90deg);
    text-align: center;
    margin-top: 100px;
    margin-left: -25px;
    font-size: 10px;
}