.emergencyServicesContainer {
    position: relative;
}

.emergencyServicesMiddle {
    position: absolute;
    justify-self: center;
    margin-left: 40px;
    margin-top: 60px;
    width: 170px;
    font-size: 14px;
    color: black;
}

.emergencyServicesTop-btn {
    position: absolute;
    margin-left: 95px;
    margin-top: -10px;
    font-size: 10px;
    color: black;
}

.emergencyServicesLeft-btn {
    position: absolute;
    transform: rotate(-90deg);
    text-align: center;
    margin-top: 100px;
    margin-left: -25px;
    font-size: 10px;
    color: black;
}
