.homePageContainer{
  position: relative;
  color: black;

}


#watch.case {
  background-color: white;
}

.row{
  position: absolute;
  position: center;
  //top: 60%;
  left: 50%;
  margin-left: -60px;
  margin-top: 20px;  
  width: 120px;
  font-size:14px;  
}

#time{
  text-align: center; 
}

.bottom-button {
  text-align: center;
}

.right-btn{
  position: absolute;
  transform: rotate(-270deg);
  text-align: center;
  margin-top: 50px;
  margin-left: 200px;
  font-size: 10px; 
}

.left-btn {
  position: absolute;
  transform: rotate(-90deg);
  text-align: center;
  margin-top: 50px;
  margin-left: -45px;
  font-size: 10px; 
}

.bottom-button{
  position: absolute;
  margin-left: 80px;
  margin-top: 155px;
  font-size: 10px;
}
