div {
    color: black;
}

h2 {
    text-align: center;
}

.reminderTop {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -75px;
    font-size: 10px;
    margin-bottom: 20px;
}

.reminderContainer {
    position: relative;
    color: black;
}