<div class="detailsContainer">
    <div class="detailsMiddle">
        <p>This is the alert page.</p>
        <p>This is alert number 1.</p>
    </div>

    <div class="detailsTop">
        <p>Home</p>
    </div>