<div class="carerContactContainer">
    <div class="carerMiddle">
        <p>Your Carer's name: <strong>James Grant</strong></p>
        <p>Your Carer's Mobile: <strong>0432 141 567</strong></p>
    </div>

    <div class="carerTop-btn">
        <p>Home</p>
    </div>

    <div class="carerRight-btn">
        <p>More</p>
    </div>

    <div class="carerLeft-btn">
        <p>Back</p>
    </div>
</div>