<div class="detailsContainer">
    <div class="detailsMiddle">
        <p>Your Name: Carl</p>
        <p>Your D.O.B.: 14/02/1957</p>
        <p>Your Address: 50 Carrington St, Sydney, NSW 2000</p>
    </div>

    <div class="detailsTop">
        <p>Home</p>
    </div>

    <div class="detailsRight">
        <p>Medical ID</p>
    </div>

    <div class="detailsLeft">
        <p>Back</p>
    </div>
</div>