<div class="detailsContainer">
    <div class="detailsMiddle">
        <p>Your Name: Carl</p>
        <p>Add: 123 Pet Street</p>
        <p>D.O.B.: 14/02/1957</p>
    </div>

    <div class="detailsTop">
        <p>Home</p>
    </div>

    <div class="detailsRight">
        <p>Medical History</p>
    </div>
</div>