<div class="emergencyContactsContainer">
    <div class="middle">
        <p>Carer: James Grant</p>
        <p>Mobile: 0432 141 567</p>
    </div>

    <div class="top-btn">
        <p>Home</p>
    </div>

    <div class="right-btn">
        <p>More</p>
    </div>

    <div class="bottom-btn">
        <p></p>
    </div>

    <div class="left-btn">
        <p>Back</p>
    </div>
</div>