<div class="emergencyContactsContainer">
    <div class="middle">
        <p>Carer: James McArthur</p>
        <p>Mobile: </p>
    </div>

    <div class="top-btn">
        <p>Home</p>
    </div>

    <div class="right-btn">
        <p>More</p>
    </div>

    <div class="bottom-btn">
        <p></p>
    </div>

    <div class="left-btn">
        <p>Back</p>
    </div>
</div>