<div class="emergenctServicesContainer">
    <div class="emergencyServicesMiddle">
        <p>Police: 000</p>
        <p>Hospital: 0292617777</p>
    </div>

     <div class="emergencyServicesTop-btn">
        <p>Home</p>
    </div>
    
    <div class="emergencyServicesLeft-btn">
        <p>Back</p>
    </div>
</div>