<div id="home">
  <h1>Time: <span class="clock-time">{{time}}</span></h1>
  <div class="row">
    <div>{{leftButtonLabel}}</div>
    <div>"What you believe you can achieve"</div>
    <div>{{rightButtonLabel}}</div>
  </div>
  <div class="bottom-button">{{bottomButtonLabel}}</div>
</div>
