 <div class="introContainer"></div>
    <div class="introMiddle">
        <p>Hi Carl! Everything is okay. You are just experiencing the onset of alzheimer's</p>
    </div>

    <div class="introTop">
        <p>Home</p>
    </div>

    <div class="introRight">
        <p>Emergency Contact</p>
    </div>

    <div class="introLeft">
        <p>Back</p>
    </div>

    <div class="introBottom">
        <p>My Details</p>
    </div>
</div>