<div class="medicationContainer">
    <div class="medicationMiddle">
        <p>Medication:
            <li></li>
            <li></li>
        </p>
    </div>

    <div class="medicationTop">
        <p>Home</p>
    </div>

    <div class="medicationRight">
        <p>More</p>
    </div>

    <div class="medicationLeft">
        <p>Back</p>
    </div>
</div>