<div class="medicalContainer">
    <div class="medicalMiddle">
        <p>Medical Condition:
            <li>Alzheimers Stage 2</li>
            <li>Asthma</li>
        </p>
        <p>Allergies:
            <li>Nuts</li>
        </p>
    </div>

    <div class="medicalTop">
        <p>Home</p>
    </div>

    <div class="medicalRight">
        <p>More</p>
    </div>

    <div class="medicalLeft">
        <p>Back</p>
    </div>
</div>