<div class="medicationContainer">
    <div class="medicationMiddle">
        <p>MEDICATION:
            <li>OROXINE 100ug
                <br>Daily, before breakfast</br>
            </li>
            <br>
            <li>FLUTIFORM 1 puff
                <br>Daily, after breakfast</br>
            </li>
        </p>
    </div>

    <div class="medicationTop">
        <p>Home</p>
    </div>

    <div class="medicationLeft">
        <p>Back</p>
    </div>
</div>