<div class="quotesContainer">
    <div class="quotesMiddle">
        <p id="quote">A smooth sea never made a skillful sailor.</p>
    </div>

    <div class="quotesTop">
        <p>Home</p>
    </div>

    <div class="quotesLeft">
        <p>Back</p>
    </div>
</div>