<div class="quotesContainer">
    <div class="quotesMiddle">
        <p id="quote">Tough times never last, but tough people do.</p>
    </div>

    <div class="quotesTop">
        <p>Home</p>
    </div>

    <div class="quotesRight">
        <p>Next</p>
    </div>

    <div class="quotesLeft">
        <p>Back</p>
    </div>
</div>