<div class="carerContactContainer">
    <div class="middle">

        <p>Your son's name is: Michael page</p>

        <p>Your son's Mobile number is: 0432 345 678</p>

    </div>

     <div class="top-btn">
        <p>Home</p>
    </div>

    <div class="right-btn">
        <p>More</p>
    </div>
    
    <div class="left-btn">
        <p>Back</p>
    </div>
</div>