<div class="relativeContactContainer">
    <div class="relativeMiddle">

        <p>Your son's name is: <br><strong>Michael page</strong></p>

        <p>Your son's Mobile number is: <br><strong>0432 345 678</strong></p>

    </div>

    <div class="relativeTop-btn">
        <p>Home</p>
    </div>

    <div class="relativeRight-btn">
        <p>More</p>
    </div>
    
    <div class="relativeLeft-btn">
        <p>Back</p>
    </div>
</div>