<div class="quotesContainer">
    <h2>Reminders</h2>
    <ul>
        {{#each reminders}}
        <li> {{this}}</li>
        {{/each}}
    </ul>

    <div class="quotesTop">
        <p>Home</p>
    </div>
</div>