<div class="reminderContainer">
        <h2>Reminders</h2>
    <ul>
        {{#each reminders}}
        <li> {{this}}</li>
        {{/each}}
    </ul>

    <div class="reminderTop">
        <p>Home</p>
    </div>
</div>